*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f6f5f4;
}

img{
    object-fit: fill;
}

.bg_color{
    background-color: rgb(222, 244, 252);
}

.heading{
align-items: center;
justify-content: center;
display: flex;
font-size: 40px;
font-family: math;
text-decoration: underline;
}

.thumbnail:hover{
    transform: scale(1.04,1.04);
    transition: transform 0.4s ease-in-out;
    border-radius: 20px;
    /* backdrop-filter: blur(10px); */
}

.nav_elements:hover{
    transform: scale(1.05,1.05);
    transition: transform 0.1s ease-in-out;
}

.nav_elements1:hover{
    transform: scale(1.05,1.05);
    transition: transform 0.2s ease-in-out;
    background-color: rgb(237, 237, 237);
}

.card_element1:hover{
    transform: scale(1.02,1.02);
    box-shadow: 1px 1px 5px rgb(69, 69, 69);
    transition: transform 0.2s ease-in-out;
    border-radius: 2%;
}



.carousel-item {
    transition: transform 0.75s ease-in-out;
  }

.registerbtn{
    border-radius: 10%;
    background-color: rgb(114, 125, 125);
    margin-left: 4px;
}

.registerbtn:hover{
    border-radius: 10%;
    scale: (1.1,1.1);
    transition: transform 0.5 ease-in-out;
    background-color: rgb(133, 135, 135);
}

.register{
    justify-content: space-evenly;
}


.text-big{
    font-size: 41px;
    
}
.text-small{
    font-size: 18px;
    font-style: italic;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width:80%;
    margin: auto;
    padding: 10px;
    
}

.section-left{
    flex-direction: row-reverse;
  
}
.blog{
    padding: 0 50px;
}
.section img{
    width: 343px;
    border: 3px solid rgb(243, 193, 193);
    border-radius: 45px;
    display: block;
    margin: auto;
}


.contact{
    background-color: #f6f5f4;
    height: 833px;
}

.form{
    max-width: 62%;
    margin: 25px auto;
}
.form-input{
    width: 100%;
    margin: 14px 0px;
    padding: 5px 13px;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family:  monospace;
}

.btn-dark{
    color: rgb(255, 255, 255);
    border: 2px solid rgb(118, 104, 104);
    display: block;
    margin: auto;
}


